@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
}

html {
    background: #222048;
}

.happy {
    width: 100%;
    font-family: 'Pacifico', cursive;
    font-size: 100px;
    font-weight: 700;
    color: #f48fd1;
    text-align: center;
    position: absolute;
    top: 50%;
    opacity: 0;
    animation: vem_happy 3s ease-in 9s forwards;
}

.happy {
    width: 100%;
    font-family: 'Pacifico', cursive;
    font-size: clamp(1.8rem, 6vw, 4.5rem);
    font-weight: 700;
    color: #f48fd1;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: vem_happy 3s ease-in 9s forwards;
}

.sec1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 200px 100px 0px 0px;
}

.sec1>span {
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(2rem, 10vw, 9rem);
    font-weight: 700;
    color: #7a8fe8;
}


.sec1>span {
    font-family: 'Montserrat', sans-serif;
    font-size: 175px;
    font-weight: 700;
    color: #7a8fe8;
}

span.current {
    position: absolute;
    top: 50%;
    right: 50%;
    margin-right: -14%;
    animation: vai_2016 5s ease-in-out 5s forwards;
    padding: -14%, 0%, 0%;
}

span.next {
    position: absolute;
    right: 0%;
    margin-right: -14%;
    animation: vem_2017 6s ease-in-out forwards;
    padding: -14%, 0%, 0%;
}

span.next:before {
    content: '';
    width: 0px;
    height: 6px;
    display: block;
    border-radius: 3px;
    background: #7a8fe8;
    transform: rotate(0deg);
    transform-origin: left top;
    position: absolute;
    top: 55px;
    left: 10px;
    z-index: -1;
    animation: entrega_sec2 1s ease-in-out 4s;
}

.sec2 {
    width: 100px;
    height: 100px;
    display: block;
    background: yellow;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    margin-top: -165px;
    right: 0%;
    margin-right: -200px;
    z-index: -1;
    animation: vem_e_vai_sec2 10s ease-in-out forwards;
}

.sec2::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 20px 10px;
    border-color: transparent transparent #b19b32 transparent;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    bottom: -10px;
    z-index: -1;
}

.sec2::after {
    content: '';
    width: 4px;
    height: 100px;
    display: block;
    background: #fff;
    border-radius: 0px 0px 3px 3px;

    position: absolute;
    left: 50%;
    margin-left: -2px;
    bottom: -110px;

}

.fire {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.fire>div {
    border: 2px solid #fff;
    position: absolute;
    opacity: 0;
    animation: solta_fire 1.5s ease-in-out 8s forwards;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fire>div.f1 {
    left: 20%;
    top: 40%;
}

.fire>div.f2 {
    left: 15%;
    top: 70%;
}

.fire>div.f3 {
    right: 20%;
    top: 40%;
}

.fire>div.f4 {
    right: 15%;
    top: 70%;
}

.fire>div span {
    width: 6px;
    height: 6px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    animation: estoura_fire 0.5s ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    animation-delay: 1.5s;

}

.fire>div span:nth-child(1) {
    transform: rotate(0deg);
}

.fire>div span:nth-child(2) {
    transform: rotate(120deg);
}

.fire>div span:nth-child(3) {
    transform: rotate(240deg);
}

.fire>div span:before {
    content: '';
    width: 2px;
    height: 50px;
    display: block;
    background: #f5cc06;
    position: absolute;
    top: -60px;
    left: 2px;
}

.fire>div span:after {
    content: '';
    width: 2px;
    height: 50px;
    display: block;
    background: #f5cc06;
    position: absolute;
    bottom: -60px;
    left: 2px;
}

.fire>div span i:before {
    content: '';
    width: 3px;
    height: 3px;
    display: block;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: -15px;
    left: 10px;
}

.fire>div span i:after {
    content: '';
    width: 3px;
    height: 3px;
    display: block;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: -15px;
    right: 10px;
}

a.author {
    font-size: 12px;
    text-decoration: none;
    color: #f47c7c;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

@keyframes vem_2017 {
    0% {
        right: 0%;
    }

    66.6666% {
        right: 50%;
        margin-right: -300px;
    }

    90% {
        right: 50%;
        margin-right: -300px;
    }

    100% {
        right: 50%;
    }
}

@keyframes vem_e_vai_sec2 {
    0% {
        right: 0%;
    }

    40% {
        right: 50%;
        margin-right: -300px;
    }

    50% {
        right: 50%;
        margin-right: -200px;
        top: 50%;
    }

    100% {
        top: -100%;
        right: 50%;
    }
}

@keyframes entrega_sec2 {
    0% {
        transform: rotate(-30deg);
        width: 40px;
    }

    100% {
        transform: rotate(-150deg);
        width: 70px;
    }
}

@keyframes vai_2016 {
    0% {
        top: 50%;
    }

    100% {
        top: -100%;
    }
}

@keyframes vem_happy {
    0% {
        margin-top: 0px;
        opacity: 0;
    }

    100% {
        margin-top: -200px;
        ;
        opacity: 1;
    }
}

@keyframes solta_fire {
    0% {
        margin-top: 100%;
        opacity: 0;
        width: 2px;
        height: 30px;
        display: block;
        border-radius: 50%;
    }

    75% {
        margin-top: 0%;
        opacity: 1;
        width: 2px;
        height: 30px;
        display: block;
        border-radius: 50%;
    }

    80% {
        margin-top: 0px;
        margin-left: 0px;
        opacity: 1;
        width: 10px;
        height: 10px;
        display: block;
        border-radius: 50%;
        transform: scale(0.2);
    }

    100% {
        opacity: 1;
        width: 10px;
        height: 10px;
        display: block;
        border-radius: 50%;
        transform: scale(1);
    }
}


@keyframes estoura_fire {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.firework {
    position: absolute;
    width: 5px;
    height: 5px;
    background: radial-gradient(white, transparent);
    border-radius: 50%;
    opacity: 0;
    animation: explode 1.5s ease-out forwards;
}

@keyframes explode {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(3);
    }
}

@keyframes firework {
    0% {
        transform: translate(var(--x), var(--initialY));
        width: var(--initialSize);
        opacity: 1;
    }

    50% {
        width: 0.5vmin;
        opacity: 1;
    }

    100% {
        width: var(--finalSize);
        opacity: 0;
    }
}

/* Particle-based firework styles */
.firework {
    position: absolute;
    pointer-events: none;
    width: 0;
    height: 0;
}

.firework .particle {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(1);
    will-change: transform, opacity;
    animation: fw-shoot 1200ms cubic-bezier(.2, .8, .2, 1) forwards;
    mix-blend-mode: screen;
}

.firework .particle {
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(1);
    will-change: transform, opacity;
    animation: fw-shoot 1200ms cubic-bezier(.2, .8, .2, 1) forwards;
    mix-blend-mode: screen;
}

@keyframes fw-shoot {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }

    100% {
        transform: translate(calc(var(--dx)), calc(var(--dy))) scale(0.2);
        opacity: 0;
    }
}

@keyframes fw-shoot {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        transform: translate(calc(var(--dx)), calc(var(--dy))) scale(0.2);
        opacity: 0;
    }
}

/* responsive tweaks */
@media (max-width: 600px) {
    .sec1 {
        padding: 40px 20px 0 0;
    }

    .firework .particle {
        animation-duration: 1000ms;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .firework .particle {
        animation-duration: 1100ms;
    }
}

.firework .sparkle {
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #fff;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.6);
    animation: sparkle 900ms ease-out forwards;
}

@keyframes sparkle {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.6);
    }

    30% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1.1);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.2);
    }
}
